<div class="row">
    <header class="text-center" id="top">
        <h3>Who Am I?</h3>
        <img src="/images/rafsanjani.jpg" class="img-responsive img-circle" style="display:inline" alt="Profile Picture" width="350" height="350">
        <h3>I'm an adventurer</h3>
        <h3><span class="label label-success">Teaching Assistant</span>
        <span class="label label-success">Programmer</span>
        <span class="label label-success">Columnist</span>
        <span class="label label-success">Karate Coach</span>
        </h3>
    </header>
</div>
