<!DOCTYPE html>
<html lang="en">
  <head><% include partials/template/head.ejs %></head>
  <body class="<%= page %>">
    <div class="container-fluid">
      <% include partials/template/navigation.ejs %>
      <% include partials/template/header.ejs %>
      <% include partials/content/expertise.ejs %>
      <% include partials/template/footer.ejs %>
      <% include partials/template/script.ejs %>
    </div>
  </body>
</html>
