<div class="row">
    <div class="col-md-12 contact">
        <div class="page-header">
            <h1>Contact Information</h1>
        </div>
        <div class="well">
            <p>
                Please call me on my cell phone from 10 AM to 8PM. I will definitely
                reply your mail as soon as possible. Feel free to explore my codes and developments
                in GitHub and LinkedIn.
            </p>
            <p>
                <span class="fa fa-google"> <%= appdata.contact.email %></span><br />
                <span class="fa fa-github-square"> <%- appdata.contact.github %></span> <br />
                <span class="fa fa-linkedin-square"> <%- appdata.contact.linkedin %></span><br />
                <span class="fa fa-mobile-phone"> <%- appdata.contact.phone %></span><br />
            </p>
        </div>

    </div>
</div>